<link rel="stylesheet" href="register.ejs.css">

<div class="form-group">
    <h1>Welcome Home!</h1>
    <p>Please click on below link..</p>
    <p><a href="/signupdata">CLICK</a> here to proceed further!</p>
</div>